.time-detail-control {
	margin-top: 8px;
	margin-bottom: 32px;
}
@media all and (max-width: 767px) {
	.time-detail-control {
		margin-top: 9px;
		margin-bottom: 35px;
	}
}
@media all and (min-width: 768px) and (max-width: 1013px) {
	.time-detail-control {
		margin-top: 9px;
		margin-bottom: 35px;
	}
}
@media all and (min-width: 1014px) and (max-width: 1335px) {
	.time-detail-control {
		margin-top: 9px;
		margin-bottom: 35px;
	}
}
