.job-control {
	width: 790px;
	height: 114px;
	margin-left: 32px;
	margin-bottom: 32px;
	padding: 12px;
	justify-content: space-between;
	.loca-time-control {
		align-items: flex-end;
	}
}
@media all and (max-width: 767px) {
	.job-control {
		margin-left: 7px;
		margin-bottom: 23px;
		width: 344px;
		height: 147px;
		.loca-time-control {
			justify-content: flex-end;
		}
	}
}
