.how-to-apply-btn-back {
	width: 231px;
	margin-right: 77px;
	.btn-back-control {
		margin-bottom: 34px;
		.material-icons-outlined {
			font-size: 18px;
			transform: rotate(180deg);
		}
		.link-home {
			margin-left: 15px;
		}
	}
}
.title-text {
	margin-bottom: 16px;
}
.link-to-job {
	margin-left: 5px;
}
