.info-control {
	padding-left: 16px;
	.name-company {
		padding-bottom: 8px;
	}
	.name-job {
		padding-bottom: 12px;
		width: 380px;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
