.job-detail-control {
	margin: 0 123px 0 120px;
	.info-job {
		width: 889px;
	}
}
.loading-control {
	.loading-text {
		text-align: center;
		margin-top: 50px;
	}
}
@media all and (max-width: 767px) {
	.job-detail-control {
		margin: 0 19px 0 12px;
		.info-job {
			width: 100%;
		}
	}
}
