* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6f7fb;
	font-family: 'Poppins' !important;
	font-style: normal !important;
}
.d-flex {
	display: flex;
}
.f-family {
	font-family: 'Poppins';
	font-style: normal;
}
.f-family-two {
	font-family: 'Roboto';
	font-style: normal;
}
.c-silver {
	color: #b9bdcf;
}
.cursor {
	cursor: pointer;
}
.m-left {
	margin-left: 120px;
}
.br-while {
	background-color: #ffffff;
}
.c-darkslateblue {
	color: #334680;
}
.list-style {
	list-style-type: none;
}
.br-radius-4 {
	border-radius: 4px;
}
.f-size-18 {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}
.f-size-12 {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
.align-center {
	align-items: center;
}
.box-shadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.bx-shadow:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.c-notfault {
	color: #ab003c;
}
