* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6f7fb;
	font-family: 'Poppins' !important;
	font-style: normal !important;
}
.d-flex {
	display: flex;
}
.f-family {
	font-family: 'Poppins';
	font-style: normal;
}
.f-family-two {
	font-family: 'Roboto';
	font-style: normal;
}
.c-silver {
	color: #b9bdcf;
}
.cursor {
	cursor: pointer;
}
.m-left {
	margin-left: 120px;
}
.br-while {
	background-color: #ffffff;
}
.c-darkslateblue {
	color: #334680;
}
.list-style {
	list-style-type: none;
}
.br-radius-4 {
	border-radius: 4px !important;
}
.f-size-18 {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}
.f-size-24 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.f-size-14 {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}
.f-size-12 {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
.align-center {
	align-items: center;
}
.box-shadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.bx-shadow:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.c-notfault {
	color: #ab003c;
}
.jst-content {
	justify-content: space-between;
}
.title {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 14px;
}
.c-dodgerblue {
	color: #1e86ff;
}
.t-decor {
	text-decoration: none;
}
.full-time-btn {
	border: 1px solid #334680;
	width: 63px;
	height: 26px;
	justify-content: center;
}
.time-control {
	font-size: 15px;
	margin-right: 9px;
}
.location-control-detail {
	font-weight: 500;
	font-size: 15px;
	margin-right: 8px;
}
.f-normal {
	font-weight: normal;
}
.width-100 {
	width: 100%;
}
.o-flow {
	overflow: hidden;
}
@media all and (max-width: 767px) {
	.m-left {
		margin-left: 12px;
	}
	.filter {
		width: 100% !important;
	}
	.d-flex-dir {
		flex-direction: column;
	}
	body {
		margin: 12px 12px 0 12px;
	}
	.width-100-mb {
		width: 100% !important;
	}
}
@media all and (min-width: 768px) and (max-width: 1013px) {
	.m-left {
		margin-left: 12px;
	}
	.filter {
		width: 100% !important;
	}
	.d-flex-dir {
		flex-direction: column;
	}
	body {
		margin: 12px 12px 0 12px;
	}
	.width-100-mb {
		width: 100% !important;
	}
}
@media all and (min-width: 1014px) and (max-width: 1335px) {
	.m-left {
		margin-left: 12px;
	}
	.filter {
		width: 100% !important;
	}
	.d-flex-dir {
		flex-direction: column;
	}
	body {
		margin: 12px 12px 0 12px;
	}
	.width-100-mb {
		width: 100% !important;
	}
}
