.job-name {
	margin-right: 17px;
}
@media all and (max-width: 767px) {
	.job-info-control {
		align-items: unset;
		.job-name {
			margin-top: 36px;
			margin-bottom: 4px;
			margin-right: unset;
		}
	}
}
@media all and (min-width: 768px) and (max-width: 1013px) {
	.job-info-control {
		align-items: unset;
		.job-name {
			margin-top: 36px;
			margin-bottom: 4px;
			margin-right: unset;
		}
	}
}
@media all and (min-width: 1014px) and (max-width: 1335px) {
	.job-info-control {
		align-items: unset;
		.job-name {
			margin-top: 36px;
			margin-bottom: 4px;
			margin-right: unset;
		}
	}
}
